
<!doctype html>
<html encoding="en">
	<head>
		<title>Search</title>	
		<script src="js/jquery-1.9.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
		<script src="js/app.js"></script>
		    
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">    
        
	</head>
	<body ng-app="MyProduct" ng-controller="ProductController">
        <h1 style="text-align: center">Air Wander 0.01</h1><br>
        
        <div align="center">
            <select class="center" id="dropdown" ng-model="selectedItem" 
                    ng-options="item.id for item in items"  ng-change="selectItem()">   
            </select>
        </div><br><br><br><br><br><br><br><br>
        
        <div class="container">
            <div class="row" ng-hide="isHide">
                <div ng-class="selectedValue" ng-repeat="i in getItems()">
                    <input type="text" ng-model="entry[i]" ng-change="setValue(entry[i], i)"></input>
                </div>
            </div>
        </div>       
	</body>
</html>